<!--
  Generated template for the WebSplash page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>friends</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <ion-list>
            <ion-list-header>
                your friends
                <!--<ion-icon class="help" name="help-circle"></ion-icon>-->
            </ion-list-header>
            <ion-item *ngFor="let con of friends" [navPush]="offer_page" [navParams]="con">
                <ion-avatar item-left>
                    <img src="https://www.gravatar.com/avatar/{{md5(con.user_id)}}?s=32&d=identicon&r=PG"/>
                </ion-avatar>

                <p class="friend-line-one">
                    <span class="display-name">{{con.display_name}}</span>
                    <button ion-button color="secondary" outline>
                        invoice
                    </button>
                </p>

            </ion-item>
        </ion-list>
    </div>
    <div>
        <ion-list>
            <ion-list-header>
                friends of friends
                <!--<ion-icon class="help" name="help-circle"></ion-icon>-->
            </ion-list-header>
            <ng-container *ngFor="let level of fof">
                <ion-item *ngFor="let con of level" [navPush]="offer_page" [navParams]="con">
                    <ion-avatar item-left>
                        <img src="https://www.gravatar.com/avatar/{{md5(con.user_id)}}?s=32&d=identicon&r=PG"/>
                    </ion-avatar>

                    <p class="friend-line-one">
                        <span class="display-name">{{con.display_name}}</span>
                        <button ion-button color="secondary" outline>
                            invoice
                        </button>
                    </p>
                </ion-item>
            </ng-container>
            <ion-note *ngIf="fof.length == 0" style="text-align: center; padding: 1em; display:block">
                your friends don't seem to have friends
            </ion-note>
        </ion-list>
    </div>

</ion-content>
