<!--<ion-menu [content]="menubound">-->
<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            dashboard
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="content">

    <p id="balance">
        <button ion-button color="secondary" outline>one hour <span class="note">owed friends</span></button>
        <span class="help"><ion-icon name="help-circle"></ion-icon></span>
    </p>

    <p text-center>
        <button ion-button color="primary">offer help</button>
    </p>

    <div id="offers">
        <ion-list-header>
            offers to you
            <ion-icon class="help" name="help-circle"></ion-icon>
        </ion-list-header>
        <ion-list>
            <ion-note *ngIf="offers.length == 0" style="text-align: center; padding: 1em; display:block">
                <ion-icon name="sad"></ion-icon> <br>
                no one has offered you help yet, maybe you should offer some
            </ion-note>

            <ion-item *ngFor="let offer of offers">
                <ion-avatar item-left>
                    <img src="https://www.gravatar.com/avatar/{{md5(offer.from_user_id)}}?s=32&d=identicon&r=PG"/>
                </ion-avatar>

                <p>
                    <span class="display-name">{{offer.display_name}}</span>
                    <span class="amount">{{displayAmount(offer.hours)}}</span>
                    <br/>
                    <span class="description">{{offer.description}}</span>
                </p>


                <p class="options">
                    <button ion-button color="danger" outline>reject</button>
                    <button ion-button color="secondary" outline>complete</button>
                </p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
