// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$app-colors: (
        balance: #869635,
        balance-bright: #abbf43,
        text: whitesmoke,
        header: rgba(255, 255, 255, 0.71),
        bg: #171e1f,
        dark-bg: #0f1314
);

.scroll-content {
  background: color($app-colors, bg);
  color: color($app-colors, text);
  overflow-y: inherit;
}
.toolbar-background {
  background: color($app-colors, bg);
}
.toolbar-title {
  color: color($app-colors, header);
}
.item {
  background-color: rgba(255, 255, 255, 0.08) !important;
  color: inherit !important;
}

ion-header {
  font-variant: small-caps;
}
ion-header ion-icon {
  color: white;
}
.back-button {
  color: white;
}

ion-list .display-name {
  color: color($app-colors, text);
}
ion-list .item-block .item-inner {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

ion-label[stacked], ion-label[floating] {
  font-size: 1.5rem !important;
}

.error-toast .toast-wrapper {
  //border: 1px solid color($colors, danger);
  box-shadow: 0 0 10px 2px color($colors, danger);
  border-top: none;
}

ion-app {
  max-width: 600px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  left: auto;
  right: auto;
}

body {
  background: color($app-colors, dark-bg);
}

textarea {
  resize: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.alert-message {
  overflow-y: auto;
}